@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLC-Medium.woff') format('woff'),
    url('../fonts/GraphikLC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Black.woff2') format('woff2'),
    url('../fonts/GraphikLC-Black.woff') format('woff'),
    url('../fonts/GraphikLC-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Bold.woff2') format('woff2'),
    url('../fonts/GraphikLC-Bold.woff') format('woff'),
    url('../fonts/GraphikLC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Semibold.woff2') format('woff2'),
    url('../fonts/GraphikLC-Semibold.woff') format('woff'),
    url('../fonts/GraphikLC-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Light.woff2') format('woff2'),
    url('../fonts/GraphikLC-Light.woff') format('woff'),
    url('../fonts/GraphikLC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLC-Regular.woff') format('woff'),
    url('../fonts/GraphikLC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






.collections-slider .bigFOTO a.active {
    display: block;
}

.collections-slider .bigFOTO a{
    display: none;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
    z-index: 9000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img.award-thumb {
    float: left;
    margin-right: 15px;
}

.award-item.clearfix {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #c18a31;
    font-size: 20px;
}

.award-item a {
    text-decoration: none;
    color: #000;
}

.cat-picture-container{
    text-align: center;
    padding: 30px;
    padding-bottom:50px;
}

.cat-picture-container img{
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
}

.award-table td, th {
    padding: 8px;
    border-right: 1px solid black;
    border-spacing: 0;
    border-bottom: 1px solid black;
}

.award-table tr td:last-child, .award-table tr th:last-child{
    border-right: none;
}

table.award-table{
    border: 1px solid black;
}

table.award-table tr{
    border-bottom: 1px solid black;
}

table.award-table tr:last-child td{
    border-bottom: none;
}

table.award-table{
    border-spacing: 0;
}

.product-detail .product-imgs .slaider .bigFOTO{
    min-height: 250px;
    max-height: 250px;
}

.product-detail .product-imgs img{
    min-width: auto !important;
}


body, header .header-menu ul li a{
    font-family: 'Graphik LC';
}

.red-string{
    text-indent: 30px;
}

.description-text p{
    text-indent: 30px;
}

.social-link {
    text-decoration: none;
}

.product-detail .product-info .top .right .price .prPrice--aggreement {
    font-size: 14px;
}

.announcement__link {
    display: block;

    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #6f3508;
}

header .header-menu ul .header-menu__announcement {
    position: fixed;
    right: 0;
    top: 175px;
    /*width: 203px;*/
    max-width: 203px;
}

@media screen and (max-width: 991px) {
    header .header-menu ul .header-menu__announcement {
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
        /*width: auto;*/
        max-width: none;
    }
}

header .header-menu ul .header-menu__announcement a {
    color: #e46c0a;
    display: inline-block;
    background: rgba(255,255,255,0.5);
    padding: 5px 10px;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}

@media screen and (max-width: 991px) {
    header .header-menu ul .header-menu__announcement a {
        border-radius: 5px;
    }

}

.filter-select {
    max-width: 100%;
    height: 22px;
    font-size: 12px;
}
