.inputfield {
height: 24px !important;
width: 220px !important;
padding: 2px 5px;
margin: 0 0 10px 0;
font-size: 12px;
font-variant: normal;
line-height: normal;
}

.submitbutton {
	float: right;
	margin: 0px;
	padding: 0 6px 3px 6px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
}