html ,body{width: 100%; height: auto; background:url(/bitrix/templates/rus/images/bg.jpg) repeat left top;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, caption {margin:0; padding:0; border:0;}
table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; }
td{vertical-align:top}
*{outline:none}

a img, :link img, :visited img {border:0;}
a {cursor:pointer;}

.clear{clear:both; font-size:1px; line-height:1px; height:1px}

/*---------------------
	Style for index.html
	-----------------*/
textarea#filesrc {font-family: Tahoma; font-size: 13px}

.wrapper {width:1000px; margin:auto}
	.header {height:193px; background:url(/bitrix/templates/rus/images/headBG.png) no-repeat left top; margin-bottom: 20px; position: relative}
		.logo {padding:80px 0 0 0; text-align:center}
		.icons {height:20px; float:left; margin:15px 0 0 35px}
			.icons a {float:left; display:block; width:20px; height:19px; margin:0 6px 0 0}
			.icons a.ico1 {background:url(/bitrix/templates/rus/images/ico.png) no-repeat left top;}
			.icons a.ico2 {background:url(/bitrix/templates/rus/images/ico.png) no-repeat -25px top;}
			.icons a.ico3 {background:url(/bitrix/templates/rus/images/ico.png) no-repeat -50px top;}
			
	.topMenu {border-bottom: 5px solid #a3792f}	
		.topMenu ul {list-style:none; margin: 0px; padding: 0px;}		
		.topMenu ul li {float:left; padding:0 0 0 18px; margin-right: 2px;}
		.topMenu ul li.active {background:url(/bitrix/templates/rus/images/topMenuA1.png) no-repeat left top;} 		
		.topMenu ul li a {display:block; padding:10px 20px 8px 0px; 
			text-align: center; font-size: 16px; font-family: tahoma; color: #330000; text-decoration: none;}		
		.topMenu ul li.active a {background:url(/bitrix/templates/rus/images/topMenuA2.png) no-repeat right top;} 			
		
		.uzor {width: 100%; height: 19px; margin-top:-19px; position:relative; top:24px; text-align: center; background:url(/bitrix/templates/rus/images/topMenuUzor.png) no-repeat center top;}
		
	.advert {width:888px; height: 96px; margin:20px auto 15px auto; text-align:center; 
		padding: 55px 40px 0 40px; background:url(/bitrix/templates/rus/images/advertBG.png) no-repeat left top;
		font-size: 14px; font-family: tahoma; color: #330000; } 			
	.advert h2 {font-size:16px; font-family: Tahoma; font-weight: 100; color: #af0000; text-transform: uppercase; margin-bottom: 4px }		


	.twoCol {width: 980px; margin: auto; font-family: Tahoma; color:#330000}
		.twoCol td {}
		.twoCol td.leftCol {padding: 0 0px 250px 0; width: 355px; margin: 0 0 2px 0; background:url(/bitrix/templates/rus/images/cvetok.png) no-repeat left bottom;}
		.twoCol td.rightCol {}
		.twoCol td.rightCol a {color: #330000}
		.twoCol td.rightCol p {margin: 0 0 15px 0}
		.twoCol td.rightCol img {border:1px solid #c18a31} 
		
		.breadcrump ul {list-style: none; margin: -12px 0 -3px 15px; padding: 0px}
		.breadcrump ul li {display: inline; margin: 0 3px 0 0; color: #af0000; font-size: 12px}
		.breadcrump ul li.razd {color: #af0000} 
		.breadcrump ul li a {color: #af0000; text-decoration: none}
		
		.context {padding: 0 25px 1px 15px; font-size: 12px; min-height:1000px; line-height: 16px}
		.context a {color: #008000 !important;}
		.context h2 {font-size: 21px; font-weight: 100; text-transform: uppercase; margin-bottom: 15px; line-height:20px}
		.context h3 {font-size: 18px; font-weight: 100; text-transform: uppercase; margin-bottom: 15px; line-height:20px}
		.fleft {float:left; margin: 0 20px 15px 0}

		.blok1 {width: 241px; margin-bottom: 5px;}
			.blok1 .topBG {height: 26px; background:url(/bitrix/templates/rus/images/blok1BG1.png) no-repeat left top;}
			.blok1 .middBG {height: auto; padding: 20px 0 0 18px; background:url(/bitrix/templates/rus/images/blok1BG2.png) repeat-y left top;}
			.blok1 .bottBG {height: 25px; background:url(/bitrix/templates/rus/images/blok1BG3.png) no-repeat left top;}
			.blok1 h2 {font-size: 24px; color: #af0000; font-weight: 100; text-align: center; 
				position: relative; top: -20px; left: -10px; padding-bottom: 40px; background:url(/bitrix/templates/rus/images/uzor1.png) no-repeat center bottom;}

		.bloknov {width: 241px; margin-bottom: 5px;}
			.bloknov .topBG {height: 26px; background:url(/bitrix/templates/rus/images/blok1BG1.png) no-repeat left top;}
			.bloknov .middBG {height: auto; padding: 20px 0 0 18px; background:url(/bitrix/templates/rus/images/blok1BG2.png) repeat-y left top;}
			.bloknov .bottBG {height: 25px; background:url(/bitrix/templates/rus/images/blok1BG3.png) no-repeat left top;}
			.bloknov h2 {font-size: 24px; color: #af0000; font-weight: 100; text-align: center; 
				position: relative; top: -20px; left: -10px; padding-bottom: 40px; background:url(/bitrix/templates/rus/images/uzor1.png) no-repeat center bottom;}

		.blok2 {width: 736px; margin-bottom: 20px;}
			.blok2 .topBG {height: 26px; background:url(/bitrix/templates/rus/images/blok2BG1.png) no-repeat left top;}
			.blok2 .middBG {height: auto; padding: 20px 0 0 18px; background:url(/bitrix/templates/rus/images/blok2BG2.png) repeat-y left top;}
			.blok2 .bottBG {margin-top: 0px; height: 25px; background:url(/bitrix/templates/rus/images/blok2BG3.png) no-repeat left top;}
			.blok2 h1, .newsTitle {font-size: 24px; color: #af0000; font-weight: 100; text-align: center; 
				position: relative; top: -20px; left: -10px; padding-bottom: 40px; background:url(/bitrix/templates/rus/images/uzor2.png) no-repeat center bottom;}


		.difMenu {list-style: none; margin: 0px; padding: 0px; width:213px}
			.difMenu li { line-height:15px}
			.difMenu li div {padding-bottom: 6px; }		
			.difMenu li p {padding-top: 4px; }		
			.difMenu li a {display: block; width:163px; padding:0 20px 0 30px; color: #330000; font-size: 14px; text-decoration: none;
				background:url(/bitrix/templates/rus/images/galki.png) no-repeat 15px 3px;}		

			.difMenu li.active {background:url(/bitrix/templates/rus/images/leftMenuBG3.png) repeat-x left top; color: #fff} 			
			.difMenu li.active div {background:url(/bitrix/templates/rus/images/leftMenuBG2.png) no-repeat left bottom;}
			.difMenu li.active p {background:url(/bitrix/templates/rus/images/leftMenuBG1.png) no-repeat left top;}			
			.difMenu li.active a {color: #fff; background:url(/bitrix/templates/rus/images/galki.png) no-repeat 15px -25px;}			

			.smallcart {margin:-20px 0 0 15px}
			.smallcart td {padding: 0 15px 5px 0; font-size:14px; color: #330000; }
			.smallcart td span {color:#af0000}


		.banner {margin: 0 0 30px 10px; width:225px; text-align: center}

		.prodList {width: 100%; margin-bottom: 30px}
		.prodList td {width: 33%; padding-bottom: 20px}
		.prodItem {width: 206px; background: url(/bitrix/templates/rus/images/svitok2.png) no-repeat left bottom; text-align: center}
		.prodItem .inbg {background: url(/bitrix/templates/rus/images/svitok1.png) no-repeat left top; padding:50px 20px 30px 25px; }
			.prTitle {margin: -20px 0 5px 0; font-size: 12px; line-height: 15px; min-height:30px}
				.prTitle a {color: #330000 !important; text-decoration: none ; }		
			.prImg {margin: 0 0 10px 0}		
				.prImg img {border:1px solid #c0882e; margin: 0px; padding: 0px}			
			.prPrice {font-size: 12px; color: #af0000; font-weight: bold; margin-bottom: 7px}
		
			a.podr {display: block; margin: auto; padding: 4px 0 0 0; width: 90px; height: 20px; background: url(/bitrix/templates/rus/images/butt.png) no-repeat left top; font-size: 12px; color: #fff !important; text-decoration: none;}
			
			
		.newsItem {list-style: none; margin: 0 0 0 7px; padding: 0px; font-size: 14px}
			.newsItem li {line-height: 16px; padding-bottom: 10px}
			.newsItem li a {color: #330000}
			.newsItem li span {float: left; width: 80px; padding: 0 25px 0 0; margin-right: 10px;  font-weight: bold; background: url(/bitrix/templates/rus/images/arr1.png) no-repeat right 3px; }
		
	
		.lives {float:right; margin:0px 20px 0 0px; position: relative;
top: 68px;
right: 15px;}	
		
		
	.footer {margin:10px 0 0 0; font-size: 12px; color: #330000; text-align: center; font-family: Tahoma; padding:20px 0 15px 0; background: url(/bitrix/templates/rus/images/footer.png) no-repeat left top;}
		.footer p.copy {font-size: 10px}
		.footer a {color:#330000}		
		
	.tovar {}	
		.tovar h2 {font-size: 16px; }	
		.tovar p {margin:0  0 6px 0 !important}		
		.tovar  .prodItem {float: right; margin-left: 20px}
		.tovar  .prodItem .prPrice {margin-top: -10px; font-size: 24px; font-weight: bold; line-height: 33px}		
		.tovar  .prodItem .prCart {display: block; width: 134px; height: 35px; background: url(/bitrix/templates/rus/images/tocart.png) no-repeat left top; font-size: 14px; font-weight: bold;
			 padding: 8px 0 0 20px; margin:20px auto  0 14px; text-shadow: 1px 1px 1px #fff}
			 
		.prCart a:hover {text-decoration: none}	 
		
	.slaider {width: 666px; height:515px; margin:0 0 10px 0; background: url(/bitrix/templates/rus/images/tovarBG.png) no-repeat left top; }	
		.bigFOTO {width:400px; height:400px; overflow:hidden; border:1px solid #bf862b; float: left; margin:66px 0 0 30px}
		.bigFOTO table {width: 100%; height:100%}		
		.bigFOTO table td {width: 100%; height:100%; text-align: center; vertical-align: middle}		
		.bigFOTO table td img {border:0px !important}		
		
		
	.cartauth {position:absolute; right:30px; top:20px; font-size:13px; font-family: Tahoma}
	.cartauth a {color:#a3792f; font-size:13px;}
		a.rega {float:right; font-size: 12px; color: #a3792f; margin:4px 10px 0 0}	
		a.vhod {float:right; font-size: 14px; color: #fff; display: block; width: 46px; height: 26px; background: url(/bitrix/templates/rus/images/auth.png) no-repeat left top; padding:3px 0 0 26px; text-decoration: none}	
		.basketSmall {clear:left; display: block; width: 115px; height: 35px; background: url(/bitrix/templates/rus/images/incart.png) no-repeat left top; font-size: 12px; color:#330000;
			 padding: 6px 0 0 45px; margin:5px 0px 0 0 ; }
		.basketSmall b {font-size:18px; font-weight: 100; color: #af0000;}
		.basketSmall a {color: #330000; text-decoration: none}


.catalog-section-list ul {list-style-type:decimal; font-size:16px; }
.catalog-section-list ul li {margin:0 0 15px 0; font-weight:bold}
.catalog-section-list ul li a {text-decoration:none; color:#333 !important}
.catalog-section-list ul ul {list-style-type:circle; line-height:16px; font-size:13px; margin:10px 0px 20px 20px; padding:0px}
.catalog-section-list ul ul li {margin:0}
.catalog-section-list ul ul li a {text-decoration:none; font-size:13px; color:green !important}
.catalog-list-gr {text-decoration:none; font-weight: normal; font-size:16px; color:green; }



		
/* +++ spk: filter style +++ */
table.spk-data-table td { padding: 1px; }
input.spk-filter-submit { margin-top: 2px; color: #FFF; background-color: #ddab5a; border: 1px solid #a3792f; border-radius: 5px; }